<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Resumo da Operação</h2>
    <ol class="breadcrumb">
      <li>
        Verifique as informações da operação e confirme sua compra.
      </li>
    </ol>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="col-sm-6">
            <h5>Factoring:</h5>
            <address>
              <strong>MVP Invest - Agência Itaim</strong><br>
              Alameda Santos, 1787<br>
              São Paulo, SP 12942-646<br>
              <abbr title="Phone">T:</abbr> (11) 3142-8888
            </address>
          </div>

          <div class="col-sm-6 text-right">
            <h4 class="text-navy">Advalori</h4>
            <p>Transformando NF's em $</p>
            <p>
              <span>Data <%= Time.now.strftime("%e %b, %Y") %></span><br />
            </p>
          </div>
        </div>

        <div class="table-responsive m-t">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th><p style="color: #7698C2; font-size: 13px; display: inline;">Cedente <i class="fa fa-retweet"></i></p><p style="display: inline"> Sacado</p></th>
                <th style="font-size: 13px;">Número NF</th>
                <th style="font-size: 13px;">Parcelas</th>
                <th style="font-size: 13px;">Prazo <span class="">(médio)</span></th>
                <th style="font-size: 13px;">Valor Face</th>
                <th style="font-size: 13px;">Fator</th>
                <th style="font-size: 13px;">Ad Valorem</th>
                <th style="width: 10px;">Confirma</th>
              </tr>
            </thead>
            <%= form_for Order.new do |f| %>
            <tbody>
              <input type="hidden" name="order[invoice_ids][]">
              <% @invoices.each do |invoice| %>
              <tr>
                <td class="font-bold" style="color: #7698C2;"><%= invoice.operation.seller.company_name %></td>
                <td class="font-bold"><%= invoice.number %></td>
                <td class="font-bold"></td>
                <td class="font-bold"><%= invoice.average_outstanding_days %></td>
                <td class="font-bold"><%= invoice.total_value.format %></td>
                <td class="font-bold"><%= invoice.interest.format %></td>
                <td class="font-bold"><%= invoice.ad_valorem.format %></td>
                <td>
                  <input
                  type="checkbox"
                  name="order[invoice_ids][]"
                  value="<%= invoice.id %>"
                  data-invoice="<%= invoice.to_json(include: :installments, methods: [:interest, :ad_valorem, :iof, :iof_ad, :deposit_value ] ) %>"
                  checked>
                </td>
              </tr>
                <% invoice.installments.each do |i| %>
                  <tr>
                    <td><%= i.invoice.payer.company_name %></td>
                    <td class="text-muted"><%= invoice.installments.count == 1 ? i.number : i.number[0..-2] %></td>
                    <td class="text-muted"><%= invoice.installments.count == 1 ? 1 : i.number[-1] %></td>
                    <td class="text-muted"><%= i.outstanding_days %></td>
                    <td class="text-muted"><%= i.value.format %></td>
                    <td class="text-muted"><%= i.interest.format %></td>
                    <td class="text-muted"><%= i.ad_valorem.format %></td>
                    <td></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <table class="table invoice-total">
            <tr>
              <td>Total</td>
              <td><span id="total"></span></td>
            </tr>
            <tr>
              <td>Fator</td>
              <td><span id="interest"></span></td>
            </tr>
            <tr>
              <td>Ad Valorem</td>
              <td><span id="ad_valorem"></span></td>
            </tr>
            <tr>
              <td>IOF</td>
              <td><span id="iof"></span></td>
            </tr>
            <tr>
              <td>IOF Adicional</td>
              <td><span id="iof_ad"></span></td>
            </tr>
            <tr>
              <td>Valor Líquido para Depósito</td>
              <td><span id="deposit_value"></span></td>
            </tr>
          </table>
          <div class="text-right">
            <%= f.submit "Fechar compra", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>







