<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <!-- <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> -->
          <h2>Painel de Títulos</h2>
          <p>Navegue entre os títulos disponíveis. Clique no Cedente para ver detalhes do título.</p>
          <div class="clients-list">
            <ul class="nav nav-tabs">
              <!-- <span class="pull-right small text-muted">1406 Elements</span> -->
              <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-th-list"></i>Loja</a></li>
              <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-exclamation-triangle"></i>Rejeitados</a></li>
              <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-shopping-cart"></i>Comprados</a></li>
              <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-arrow-right"></i>Vendidos</a></li>
              <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-cogs"></i>Disponíveis</a></li>
            </ul>

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div>
                  <a id="checkout-batch" class="btn btn-outline btn-primary m-t-sm m-b-sm disabled">Comprar Títulos</a>
                  <a id="rejection-batch" class="btn btn-outline btn-danger m-t-sm m-b-sm disabled">Rejeitar Títulos</a>
                </div>
                <div class="full-height-scroll">
                  <div class="table-responsive" style="height: 90% !important;">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"><i class="fa fa-check"></i></th>
                            <th scope="col">Cedente</th>
                            <th scope="col">Prazo</th>
                            <th scope="col">Valor de Face</th>
                            <th scope="col">Fator +Ad</th>
                            <th scope="col">Taxa Bruta</th>
                            <th scope="col">Vendedor</th>
                          </tr>
                        </thead>
                        <% @offered_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div id="tab-2" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"><i class="fa fa-check"></i></th>
                            <th scope="col">Cedente</th>
                            <th scope="col">Dias</th>
                            <th scope="col">Valor de Face</th>
                            <th scope="col">Fator +Ad</th>
                            <th scope="col">Taxa Bruta</th>
                            <th scope="col">Vendedor</th>
                          </tr>
                        </thead>
                        <% @rejected_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div id="tab-3" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"><i class="fa fa-check"></i></th>
                            <th scope="col">Cedente</th>
                            <th scope="col">Dias</th>
                            <th scope="col">Valor de Face</th>
                            <th scope="col">Fator +Ad</th>
                            <th scope="col">Taxa Bruta</th>
                            <th scope="col">Vendedor</th>
                          </tr>
                        </thead>
                        <% @purchased_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


              <div id="tab-4" class="tab-pane">
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"><i class="fa fa-check"></i></th>
                            <th scope="col">Cedente</th>
                            <th scope="col">Dias</th>
                            <th scope="col">Valor de Face</th>
                            <th scope="col">Fator +Ad</th>
                            <th scope="col">Taxa Bruta</th>
                            <th scope="col">Comprador</th>
                          </tr>
                        </thead>
                        <% @sold_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item_sold', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div id="tab-5" class="tab-pane">
                <div>
                  <a id="not-available-batch" class="btn btn-outline btn-primary m-t-sm m-b-sm disabled">Retirar da loja</a>
                  <a id="available-batch" class="btn btn-outline btn-danger m-t-sm m-b-sm disabled">Disponibilizar na loja</a>
                  <a id="remove-batch" class="btn btn-outline btn-danger m-t-sm m-b-sm disabled">Remover da plataforma</a>
                </div>
                <div class="full-height-scroll">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-fixed">
                      <tbody>
                        <thead>
                          <tr>
                            <th scope="col"><i class="fa fa-check"></i></th>
                            <th scope="col">Cedente</th>
                            <th scope="col">Dias</th>
                            <th scope="col">Valor de Face</th>
                            <th scope="col">Fator +Ad</th>
                            <th scope="col">Taxa Bruta</th>
                          </tr>
                        </thead>
                        <% @user_offered_invoices.each do |invoice| %>
                          <%= render 'invoice_table_item_user_offers', invoice: invoice %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="ibox ">
        <div id="invoice-panel" class="ibox-content">
          Selecione um invoice
        </div>
      </div>
    </div>
  </div>
</div>
