<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="col-sm-6">
            <h4>Cedente:</h4>
            <address>
              <strong><%= @seller.company_name %></strong><br>
              <%= @seller.address %>, <%= @seller.address_number %><br>
              <%= @seller.city %>, <%= @seller.state %> <%= @seller.zip_code %><br>
              <abbr title="Phone">P:</abbr> (123) 601-459
            </address>
          </div>

          <div class="col-sm-6 text-right">
            <h4>Nota Fiscal</h4>
            <h4 class="text-navy"><%= @invoice.invoice_number %></h4>

            <p>
              <span><strong>Data da Operacao</strong>  <%= Time.now.strftime("%d/%m/%Y") %> </span><br />
              <span><strong>Prazo Medio de Vencimento</strong> <%= @invoice.average_outstanding_days %></span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <ul class="todo-list m-t">
              <li>
                <span class="m-l-xs">Operação Performada</span>
                <small class="label label-primary"><i class="fa fa-cubes"></i> &nbsp; Mercadoria Entregue</small>
              </li>
              <li>
                <span class="m-l-xs">Operação Confirmada</span>
                <small class="label label-info"><i class="fa fa-check"></i> &nbsp; Sacado Confirmou Entrega</small>
              </li>
              <li>
                <span class="m-l-xs">Operação Notificada</span> &nbsp;
                <small class="label label-warning"><i class="fa fa-clock-o"></i> &nbsp; Aguardando De Acordo Sacado</small>
              </li>
            </ul>
          </div>
        </div>

        <div class="table-responsive m-t">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th>Sacado</th>
                <th>Número NF</th>
                <th>Vencimento</th>
                <th>Dias</th>
                <th>Fator</th>
                <th>Advalorem</th>
                <th>Valor de Face</th>
              </tr>
            </thead>
            <tbody>
              <% @installment.each do |installment| %>
              <tr>
                <td>
                  <div><strong><%= @payer.company_name %></strong></div>
                </td>
                <td><%= installment.number %></td>
                <td><%= installment.due_date.strftime("%d/%m/%Y") %></td>
                <td><%= installment.outstanding_days %></td>
                <td><%= humanized_money installment.interest %></td>
                <td><%= humanized_money installment.ad_valorem %></td>
                <td>R$ <%= humanized_money installment.value %></td>
              </tr>


              <% end %>
            </tbody>
          </table>
        </div><!-- /table-responsive -->

        <table class="table invoice-total">
          <tbody>
            <tr>
              <td><strong>Sub Total :</strong></td>
              <td>R$ <%= humanized_money @invoice.total_value %></td>
            </tr>
            <tr>
              <td><strong>Fator +Ad :</strong></td>
              <td>R$ <%= humanized_money @fatorad %></td>
            </tr>
            <tr>
              <td><strong>IOF :</strong></td>
              <td>R$ <%= humanized_money @iof %></td>
            </tr>
            <tr>
              <td><strong>IOF Adicional :</strong></td>
              <td>R$ <%= humanized_money @iofad %></td>
            </tr>
            <tr>
              <td><strong>TOTAL FINAL :</strong></td>
              <td>R$ <%= humanized_money @deposit_value %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-right">
          <%= link_to("R$ Comprar Operação", seller_path, method: :get, class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  </div>
</div>
