<div id="company-1" class="tab-pane active">
  <div class="row">
    <div class="col-xs-6">
      <h2><%= seller.company_nickname.mb_chars.capitalize %></h2>
    </div>
    <div class="col-xs-6">
      <%= link_to "Comprar Operação", render(partial: 'sellers/confirmation_modal'), class: 'btn btn-primary btn-sm pull-right', data: { toggle: 'modal' } %>
    </div>
  </div>
  <div class="client-detail">
    <div class="full-height-scroll">

      <strong>Sobre a empresa</strong>
      <p>
        <%= seller.finantials[0].production_economics_cycle_description %>
      </p>

      <div>
        <strong>Limite</strong>
        <br>
        <span>Disponível: R$100.000,00</span>
        <span>Utilizado: R$50.000,00</span>
        <div class="progress ">
          <div style="width: 50%;" class="progress-bar progress-bar-navy-light">50%</div>
        </div>
      </div>

      <strong>Histórico de operações</strong>
      <canvas id="operationsReportChart" height="150"></canvas>

      <strong>Detalhes da Nota Fiscal</strong>
      <ul class="list-group clear-list">
        <li class="list-group-item fist-item">
          <span class="pull-right"> <span class="label label-primary">Entregue</span> </span>
          Status da mercadoria:
        </li>
        <li class="list-group-item">
          <span class="pull-right"> <span class="label label-primary">Sim</span></span>
          Sacado Confirmou Informações?
        </li>
        <li class="list-group-item">
          <span class="pull-right"> <span class="label label-warning">Não</span> </span>
          Sacado Aceitou Notificação?
        </li>
      </ul>

      <strong>Sacado</strong>
      <p><%= @payer.company_name %></p>

      <strong>Parcelas</strong>
      <div class="table-responsive">
        <table class="table invoice-table">
          <thead>
            <tr>
              <th>Vencimento</th>
              <th>Fator (R$)</th>
              <th>Advalorem (R$)</th>
              <th>Valor de Face (R$)</th>
            </tr>
          </thead>
          <tbody>
            <% @installments.each do |installment| %>
              <tr>
                <td><%= installment.due_date.strftime("%d/%m/%y") %></td>
                <td><%= humanized_money installment.interest %></td>
                <td><%= humanized_money installment.ad_valorem %></td>
                <td><%= humanized_money installment.value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <strong>Resumo</strong>
      <table class="table invoice-total">
        <tbody>
          <tr>
            <td><strong>Sub Total :</strong></td>
            <td><%= humanized_money_with_symbol @invoice.total_value %></td>
          </tr>
          <tr>
            <td><strong>Comissão :</strong></td>
            <td><%= humanized_money_with_symbol @advalori_fee %></td>
          </tr>
          <tr>
            <td><strong>Fator +Ad :</strong></td>
            <td><%= humanized_money_with_symbol @fatorad %></td>
          </tr>
          <tr>
            <td><strong>IOF :</strong></td>
            <td><%= humanized_money_with_symbol @iof %></td>
          </tr>
          <tr>
            <td><strong>IOF Adicional :</strong></td>
            <td><%= humanized_money_with_symbol @iofad %></td>
          </tr>
          <tr>
            <td><strong>Total a Depositar :</strong></td>
            <td><%= humanized_money_with_symbol @deposit_value %></td>
          </tr>
        </tbody>
      </table>


      <strong>Conheça o Histórico</strong>
      <div id="vertical-timeline" class="vertical-container dark-timeline">
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon gray-bg">
            <i class="fa fa-coffee"></i>
          </div>
          <div class="vertical-timeline-content">
            <p>
              Realizamos análise dos Documentos e Visita Presencial.
            </p>
            <span class="vertical-date small text-muted"> 12.06.2015 </span>
          </div>
        </div>
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon gray-bg">
            <i class="fa fa-briefcase"></i>
          </div>
          <div class="vertical-timeline-content">
            <p>
              Assinatura dos Contratos e Início das Operações com Cedente.
            </p>
            <span class="vertical-date small text-muted"> 15.06.2015 </span>
          </div>
        </div>
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon gray-bg">
            <i class="fa fa-bolt"></i>
          </div>
          <div class="vertical-timeline-content">
            <p>
              Primeira operação liquidada! R$ 31.000,00
            </p>
            <span class="vertical-date small text-muted"> 25.07.2015 </span>
          </div>
        </div>
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-warning"></i>
          </div>
          <div class="vertical-timeline-content">
            <p>
              Hoje, temos um total de R$ 1.435.875,00 liquidados <br/> em 52 operações!
            </p>
            <span class="vertical-date small text-muted"> Vamos Operar? </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-m">

  </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

  $(document).ready(function() {
    var operationsReportData = {
      labels: <%= raw @operations_report.keys %>,
      datasets: [{
        label: "Volume operado em [R$] ",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: <%= raw @operations_report.values %>
      }]
    };

    var operationsReportOptions = {
      responsive: true,
      scales: {
       yAxes: [{
        ticks: {
          callback: function(label, index, labels) {
            return label/1000+'k';
          }
        },
       }]
     }
    };

    var ctx6 = document.getElementById("operationsReportChart").getContext("2d");
    new Chart(ctx6, {type: 'bar', data: operationsReportData, options:operationsReportOptions});

  });

</script>

<% end %>
