<div class="wrapper wrapper-content animated fadeInRight">
  <!-- Institutional -->
  <div class="row">
    <div class="col-lg-6">
      <div class="widget lazur-bg p-xl">
        <h2><%= @seller.company_nickname %></h2>
        <small><%= @seller.company_name %></small>
        <ul class="list-unstyled m-t-md">
          <li>
            <span class="fa fa-envelope m-r-xs"></span>
            <label>E-mail:</label>
            <%= @seller.email %>
          </li>
          <li>
            <span class="fa fa-home m-r-xs"></span>
            <label>Endereço:</label>
            <%= "#{@seller.address}, #{@seller.address_number}" %>
             <%= " | #{@seller.address_2}" if @seller.address_2.present? %>
          </li>
          <li>
            <span class="fa fa-phone m-r-xs"></span>
            <label>Contato:</label>
            <%= "#{@seller.phone_number}" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Institucional </h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">

            <ul class="list-unstyled m-t-md">
              <li>
                <span class="fa fa-birthday-cake m-r-xs"></span>
                <label>Ano de fundação:</label>
                <%= @seller.incorporation_date %>
              </li>
              <li>
                <span class="fa fa-industry m-r-xs"></span>
                <label>Descrição do negócio:</label>
                <%= @finantial.production_economics_cycle_description %>
              </li>
            </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- Revenue -->
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Receita em <%= @year %> </h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="barChart" height="90"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Receita média mensal</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">R$ 300 mil</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Crescimento anual</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <h1 class="text-navy no-margins">
                <i class="fa fa-play fa-rotate-270"></i> 5%
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Sasonalidade da receita</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <div>
                <canvas id="barChartSeason" height="35"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Costs -->
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Endividamento total de R$ 100 mil</h5>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="doughnutChart" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Alavancangem total de R$ 50 mil</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="doughnutChart2" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Custos fixos mensais total de R$ 95 mil</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled m-t-md">
            <li>
              <span class="fa fa-handshake-o m-r-xs"></span>
              <label>Salários:</label>
              R$ 50 mil
            </li>
            <li>
              <span class="fa fa-users m-r-xs"></span>
              <label>Número de funcionários:</label>
              10
            </li>
            <li>
              <span class="fa fa-university m-r-xs"></span>
              <label>Aluguel:</label>
              R$ 4 mil
            </li>
            <li>
              <span class="fa fa-gift m-r-xs"></span>
              <label>Custo da mercadoria vendida:</label>
              R$ 35 mil
            </li>
            <li>
              <span class="fa fa-money m-r-xs"></span>
              <label>Outros custos fixos relevantes:</label>
              R$ 6 mil
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Legal -->
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Processos jurídicos</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <ul class="list-unstyled m-t-md">
            <% if @year_legal.civil_suits_quantity.present? %>
              <li>
                <span class="fa fa-gavel m-r-xs"></span>
                <label>Civil:</label>
                <%= "#{@year_legal.civil_suits_quantity} totalizando #{humanized_money_with_symbol @year_legal.civil_suits_amount}" %>
              </li>
            <% end %>
            <% if @year_legal.labor_suits_quantity.present? %>
              <li>
                <span class="fa fa-gavel m-r-xs"></span>
                <label>Trabalhista:</label>
                <%= "#{@year_legal.labor_suits_quantity} totalizando #{humanized_money_with_symbol @year_legal.labor_suits_amount}" %>
              </li>
            <% end %>
            <% if @year_legal.penal_suits_quantity.present? %>
              <li>
                <span class="fa fa-gavel m-r-xs"></span>
                <label>Penal:</label>
                <%= "#{@year_legal.penal_suits_quantity} totalizando #{humanized_money_with_symbol @year_legal.penal_suits_amount}" %>
              </li>
            <% end %>
            <% if @year_legal.fiscal_suits_quantity.present? %>
              <li>
                <span class="fa fa-gavel m-r-xs"></span>
                <label>Tributário:</label>
                <%= "#{@year_legal.fiscal_suits_quantity} totalizando #{humanized_money_with_symbol @year_legal.fiscal_suits_amount}" %>
              </li>
            <% end %>
            <% if @year_legal.enforcement_monition_suits_quantity.present? %>
              <li>
                <span class="fa fa-gavel m-r-xs"></span>
                <label>Execução/Monitória:</label>
                <%= "#{@year_legal.enforcement_monition_suits_quantity} totalizando #{humanized_money_with_symbol @year_legal.enforcement_monition_suits_amount}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Operation report -->
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Histórico de operações</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="operationsReportChart" height="90"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5> Valor total de operações realizadas</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins"><%= humanized_money_with_symbol @total_operations_amount %> </h1>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Quantidade total de operações realizadas</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <h1 class="text-navy no-margins">
                <%= @total_operations_number %>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Total de operações liquidadas e em aberto</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <div>
                <canvas id="operationsSettledOpenedChart" height="90"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h2>Relato Mais Serasa: <%= @seller.company_nickname %></h2>
  </div>
</div>
    <iframe src="/biort.pdf" style="border: none; width: 80%; height: 1000px; margin-bottom: 100px;"> </iframe>


 </div>



<% content_for :javascript do %>


<!-- TODO bring real data to the graph -->
<script type="text/javascript">

  $(document).ready(function() {

    var barData = {
      labels: <%= raw @revenue_x_axis %>,
      datasets: [
      {
        label: "Receita em [mil R$] ",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: <%= raw @revenue_y_axis %>
      }
      ]
    };

    var barOptions = {
      responsive: true,
      scales: {
        yAxes: [
        {
          ticks: {
            callback: function(label, index, labels) {
              return label/1000+'k';
            }
          },
          scaleLabel: {
            display: true,
            labelString: '1k = 1.000'
          }
        }
        ]
      }
    };

    var ctx2 = document.getElementById("barChart").getContext("2d");
    new Chart(ctx2, {type: 'bar', data: barData, options:barOptions});

    var barDataSeason = {
      labels: <%= raw @season_sales_x_axis %>,
      datasets: [
      {
        label: false,
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: <%= raw @season_sales_y_axis %>
      }
      ]
    };

    var barOptionsSeason = {
      responsive: true,
      scales: {
        xAxes: [{
          gridLines: {
            display:false,
          }
        }],
        yAxes: [{
          gridLines: {
            display:false,
            drawBorder: false
          },
          ticks: {
            display: false
          }
        }]
      },
      legend: {
        display: false
      },
      tooltips: {
        enabled: false
      },
    };

    var ctx3 = document.getElementById("barChartSeason").getContext("2d");
    new Chart(ctx3, {type: 'bar', data: barDataSeason, options:barOptionsSeason});

    var doughnutData = {
      labels: <%= raw @endividamento_x_axis %>,
      datasets: [{
        data: <%= raw @endividamento_y_axis %>,
        backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
      }]
    } ;


    var doughnutOptions = {
      responsive: true
    };


    var ctx4 = document.getElementById("doughnutChart").getContext("2d");
    new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

    var doughnutData2 = {
      labels: <%= raw @alavancagem_x_axis %>,
      datasets: [{
        data: <%= raw @alavancagem_y_axis %>,
        backgroundColor: ["#a3e1d4","#dedede","#b5b8cf"]
      }]
    } ;


    var doughnutOptions2 = {
      responsive: true
    };


    var ctx5 = document.getElementById("doughnutChart2").getContext("2d");
    new Chart(ctx5, {type: 'doughnut', data: doughnutData2, options:doughnutOptions2});

    var operationsReportData = {
      labels: <%= raw @operations_report.keys %>,
      datasets: [
      {
        label: "Volume operado em [R$] ",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: <%= raw @operations_report.values %>
      }
      ]
    };

    var operationsReportOptions = {
      responsive: true,
      scales: {
       yAxes: [{
         ticks: {
           callback: function(value, index, values) {
             return value.toLocaleString("pt-BR",{style:"currency", currency:"BRL"});
           }
         }
       }]
     }
    };

    var ctx6 = document.getElementById("operationsReportChart").getContext("2d");
    new Chart(ctx6, {type: 'bar', data: operationsReportData, options:operationsReportOptions});

    var operationsSettledOpenedData = {
      labels: [""],
      datasets: [{
        label: "Liquidadas",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: [1000000]
      }, {
        label: "Em aberto",
        data: [50000],
        backgroundColor: "rgba(63,203,226,1)",
        hoverBackgroundColor: "rgba(46,185,235,1)"
      }]
    };

    var operationsSettledOpenedOptions = {
      responsive: true,
      tooltips: {
        enabled: true
      },
      hover :{
        animationDuration:0
      },
      scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true,
                fontFamily: "'Open Sans Bold', sans-serif",
                fontSize:11
            },
            scaleLabel:{
                display: true,
            },
            gridLines: {
            },
            stacked: true
        }],
        yAxes: [{
          gridLines: {
            display: true,
            color: "#fff",
            zeroLineColor: "#fff",
            zeroLineWidth: 0
          },
          ticks: {
            fontFamily: "'Open Sans Bold', sans-serif",
            fontSize:11,
            mirror: true
          },
          stacked: true
        }]
      },
      legend:{
        display: true
      },
   };

   var ctx7 = document.getElementById("operationsSettledOpenedChart").getContext("2d");
   new Chart(ctx7, {type: 'horizontalBar', data: operationsSettledOpenedData, options:operationsSettledOpenedOptions});

  });

</script>

<% end %>

